.form-control{
    width: 30px;
}
.reserv{
    width: 100%;
}
.text-warning{
    height: 25px;
    
}
.input-group-text{
    color: black;
}
.barre-reserv{
    position: relative;
    z-index: 3;
    top: -120px;
}